@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Sofia+Sans+Extra+Condensed&display=swap');


body {
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Sofia Sans Extra Condensed', sans-serif;
    margin: 0px;
    background: #991B4B;
    padding-bottom: 10%;
    /* background: linear-gradient(-45deg, #ee7752, #e73c7e, #232fd5, #23d5ab); */
    /* background-size: 400% 400%; */
    /* animation: gradient 10s ease infinite; */
}

/* @keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
} */

/* #tournament-net{
} */
.group{
    height: 190px;
    width: 200px;
    background: rgba(217, 217, 217, 0.1);
    border: 1px solid #FFFFFF;
    margin-top: 50px;
    padding: 10px;
    margin-left: 40px;
    border-radius: 10px;
    -webkit-box-shadow: 20px 11px 44px 5px rgba(0,0,0,0.53);
    -moz-box-shadow: 20px 11px 44px 5px rgba(0,0,0,0.53);
    box-shadow: 20px 11px 44px 5px rgba(0,0,0,0.53);
}

.text1{
    font-size: 19px;
    font-weight: bold;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Sofia Sans Extra Condensed', sans-serif;
    text-align: center;
    color: #FFFFFF;
    border-bottom: 25px solid rgba(217, 217, 217, 0.1);
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    height: 0px;
    position: absolute;
    width: 125px;
    margin-top: -34px;
    margin-left: 23px;
}


.two-blocks{
    display: grid inline-block;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.title{
    text-align: center;
    color: aliceblue;
    font-size: 50px;
    font-weight: bold;
}

.teamImg{
    width: 27.52px;
    height: 27.7px;
    border-radius: 50%;
    object-fit: cover;
    position: absolute;
    margin-top: 16px;
    margin-left: 5px;
}

select {
    width: 140px;
    border: none;
    margin-left: 50px;
    height: 25px;
    margin-top: 17px;
    box-shadow: 0 5px 25px rgb(0 0 0 / 20%);
    background: #D9D9D9;
    color: rgb(0, 0, 0);
    -webkit-appearance: button;
    appearance: button;
    outline: none;
}

/* .country_block{
    margin-top: 40px;
    position: absolute;
} */

.right-grid{
    display: grid;
    justify-content: end;
    margin-top: -1050px;
    margin-right: 45px;
}

.first_country{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
    position: absolute;
    margin-top: 5px;
    margin-left: 55px;
}

.second_country{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
    position: absolute;
    margin-top: 70px;
    margin-left: 55px;
}
.third_country{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
    position: absolute;
    margin-top: 182px;
    margin-left: 55px;
}
.four_country{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
    position: absolute;
    margin-top: 244px;
    margin-left: 55px;
}
.five_country{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
    position: absolute;
    margin-top: 265px;
    margin-left: 55px;
}
.six_country{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
    position: absolute;
    margin-top: 329px;
    margin-left: 55px;
}
.seven_country{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
    position: absolute;
    margin-top: 445px;
    margin-left: 55px;
}
.eight_country{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
    position: absolute;
    margin-top: 372px;
    margin-left: 55px;
}
.nine_country{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
    position: absolute;
    margin-top: 5px;
    margin-left: -290px;
}
.ten_country{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
    position: absolute;
    margin-top: 70px;
    margin-left: -290px;
}
.eleven_country{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
    position: absolute;
    margin-top: 182px;
    margin-left: -290px;
}
.twelve_country{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
    position: absolute;
    margin-top: 246px;
    margin-left: -290px;
}
.thirdteen_country{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
    position: absolute;
    margin-top: 270px;
    margin-left: -290px;
}
.fourteen_country{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
    position: absolute;
    margin-top: 345px;
    margin-left: -290px;
}
.fiveteen_country{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
    position: absolute;
    margin-top: 450px;
    margin-left: -290px;
}
.sixteen_country{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
    position: absolute;
    margin-top: 385px;
    margin-left: -290px;
}




.line{
    width: 15px;
    border: 1px solid #00369E;
    border-radius: 0px;
    position: absolute;
    margin-left: 305px;
    margin-top: -9px;
}

.line_country_2{
    width: 15px;
    border: 1px solid #00369E;
    border-radius: 0px;
    position: absolute;
    margin-left: 305px;
    margin-top: 210px;
}
.line_country_3{
    width: 15px;
    border: 1px solid #00369E;
    border-radius: 0px;
    position: absolute;
    margin-left: 305px;
    margin-top: 430px;
}
.line_country_4{
    width: 15px;
    border: 1px solid #00369E;
    border-radius: 0px;
    position: absolute;
    margin-left: 305px;
    margin-top: 652px;
}
.line_country_5{
    width: 15px;
    border: 1px solid #00369E;
    border-radius: 0px;
    position: absolute;
    margin-left: 856px;
    margin-top: -165px;
    rotate: 180deg;
}
.line_country_6{
    width: 15px;
    border: 1px solid #00369E;
    border-radius: 0px;
    position: absolute;
    margin-top: 54px;
    margin-left: 856px;
    rotate: 180deg;
}

.line-2{
    width: 15px;
    border: 1px solid #00369E;
    border-radius: 0px;
    position: absolute;
    margin-left: -1px;
    margin-top: 105px;
}
.line-3{
    width: 15px;
    border: 1px solid #00369E;
    border-radius: 0px;
    position: absolute;
    margin-left: -1px;
    margin-top: 105px;
}
.line-4{
    width: 15px;
    border: 1px solid #00369E;
    border-radius: 0px;
    position: absolute;
    margin-left: -1px;
    margin-top: 105px;
}

.long-line{
    margin-left: -39px;
    width: 106px;
    border: 1px solid #00369E;
    border-radius: 0px;
    position: absolute;
    margin-top: 52px;
    transform: rotate(90deg);
}