
#tournament-net{
    background: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
    height: 50vw;
    width: 80%;
    align: center;
    position: absolute;
    margin-left: 7.5vw;
}
.group{
    background-color: blue;
    height: 5.4em;
    width: 7em;
    position: absolute;
}
img {
    border-radius: 50%;
    width: 20px;
    height: 20px;
}